{% extends "main.html" %}
{% block content %}


<link rel="stylesheet" href="public/css/videoManager/main.css">
<link rel="stylesheet" href="public/css/videoManager/playlists.css">
<title>{{'playlists.playlistManager'|localize}}</title>

<div class="container">



  <div class="menu">
    <a href="{{'manageUpload'|link}}">
      <div class="menuItem">
          <i class="fas fa-upload"></i>
          <p>{{'playlists.upload'|localize}}</p>
      </div>
    </a>

    <a href="{{'managePlaylists'|link}}">
      <div class="menuItem">
        <div class="activeMenuItem">
          <i class="fas fa-indent"></i>
          <p>{{'playlists.playlists'|localize}}</p>
        </div>
      </div>
    </a>

    <a href="{{'manageVideos'|link}}">
      <div class="menuItem">
        <i class="fas fa-film"></i>
        <p>{{'videos.videos'|localize}}</p>
      </div>
    </a>

    <a href="{{'manageStats'|link}}">
      <div class="menuItem">
        <i class="fas fa-chart-bar"></i>
        <p>{{'videos.stats'|localize}}</p>
      </div>
    </a>

    <a href="{{'manageComments'|link}}">
      <div class="menuItem">
        <i class="fas fa-comments"></i>
        <p>{{'videos.comments'|localize}}</p>
      </div>
    </a>
  </div>





  <div class="content">
    <div class="items">


      {% for playlist in playlists %}
      <a href="{{'playlist'|link}}&id={{playlist.id}}">
        <div class="videoItem">
          <img src="public/images/img2.png">
          <h1> {{ playlist.name }} </h1>
        </div>
      </a>
      {% endfor %}
    </div>


    <a href="#new">
    <div class="addPlaylistContainer">
        <div>
          <i class="fas fa-indent"></i>
        </div>
        <div>
          <h1>{{'playlists.addPlaylist+'|localize}}</h1>
        </div>
    </div>
  </a>


  </div>



  <div class="contentCreator" id="new">

    <form class="createPlaylistForm" method="post">

      <div class="inputCon">
        <h1>{{'playlists.addPlaylist'|localize}}</h1>
        <input class="nameTitle" name="playlistName" type="text">
      </div>


      <div class="inputSubmit">
        <input class="nameTitle" type="submit">
      </div>



    </form>

  </div>


  <script src="public/js/videoManager/newPlaylist.js">

{% endblock %}
