<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/slate-font-awesome/slate-font-awesome.html">

<link rel="import" href="../../styles.html">
<link rel="import" href="../../../utilities/constants.html">



<dom-module id="video-item">
  <template>
      <style include="shared-styles">
      :host {
        display: block;
      }
    </style>
    <style include="slate-font-awesome"></style>
    <div class$="{{className}}">
        <a href="#/video/[[item.id]]" class="card">
            <div class="thumb" style$="{{getImage()}}"></div>
            <article>
                <h1>[[item.title]]</h1>
                <p>[[item.filethumbnail]]</p>
                <span>[[item.user.name]]</span>
            </article>
        </a>
    </div>
    

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VideoItem extends ReduxStore(Polymer.Element) {

      static get is() { return 'video-item'; }
        ready() {
            super.ready();
        }
        getClassName(index) {
            return `item-${index+1}`;
        }
        getImage() {
            return `background-image: url(${THUMBNAIL}/${this.item.filethumbnail});`;
        }
        static get properties() {
            return {
                index: {
                    type: Number,
                },
                className: {
                    type: String,
                    computed: 'getClassName(index)',
                },
                item: {
                    type: Object,
                },
            };
        }
    }
    
    window.customElements.define(VideoItem.is, VideoItem);
  </script>
</dom-module>
