<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../bower_components/slate-font-awesome/slate-font-awesome.html">
<link rel="import" href="../../../../../bower_components/file-drop-zone/file-drop-zone.html">
<link rel="import" href="../../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../../../bower_components/paper-input/paper-textarea.html">

<link rel="import" href="../../../../store/store.html">
<link rel="import" href="../../../styles.html">


<dom-module id="video-edit">
  <template>
      <style include="shared-styles">
      :host {
        display: block;
      }
      file-drop-zone {
        width: 100%;
        height: 200px;
        background-color: #fafafa;
      }

      paper-button {
        width: 100%;

        margin: 10px 0px 10px 0px;
      }
   
    canvas {
      display: none;
    }

    </style>
    <style include="slate-font-awesome"></style>
    <app-location route="{{route}}" use-hash-as-path></app-location>
    


    <h1> Edit video </h1>

      <video id="videoPlayerId" controls>
          <source id="videoSource" 
                  src="" 
                  type="video/mp4">
      </video>
    

      <paper-input label="Title" 
                   type=text
                   value={{video.title}}></paper-input>
      
      <paper-textarea label="Description"
                      value={{video.description}}></paper-textarea>



  <canvas id="canvasId" height="200" width="200"></canvas><br>
  
      <paper-button raised 
                    class="green" 
                    on-click="captureThumbnail">Capture Thumbnail</paper-button>
  

      <img src$="[[ thumbnailCapture ]]" alt="" id="thumbnailCaptureId">


      <paper-button raised 
                    class="green" 
                    on-click="updateVideo">updateVideo</paper-button>


<br>

      <paper-button raised 
                    class="green" 
                    on-click="toVideo">To Video</paper-button>
    

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VideoEdit extends VideosActions(ReduxStore(Polymer.Element)) {

      static get is() { return 'video-edit'; }


      static get properties() {
        return {
          route: {
            type: String,
          },
          id: {
              type: Number,
              computed: 'getIdFromRoute(route)',
          },
          video: {
              type: Object,
              statePath: 'videos.video',
              observer: 'refreshVideo'
          },
          thumbnail: {
              type: String,
              computed: 'getThumbnailPath(video)'
          },
          videosrc: {
              type: String,
              computed: 'getVideoSrc(video)'
          },
          thumbnailCapture: {
            type: String,
          }
        };
      }


      set videoSrcElement(src) { 
        this.$.videoSource.setAttribute('src', src)
        this.$.videoPlayerId.load()
        this.$.videoPlayerId.play()
      }

      ready() {
        super.ready()
        this.dispatch(this.getVideo())

      }

      captureThumbnail() {
        const player = this.$.videoPlayerId;
        const canvas = this.$.canvasId;
        const ctx    = canvas.getContext('2d');                 
        //cv.height = player.videoHeight;                  
        //cv.width = player.videoWidth;                    
        
        ctx.drawImage(player, 0, 0);                     
        const png = canvas.toDataURL();                 
        this.thumbnailCapture = png;
      }

      updateVideo() {
        this.dispatch(this.putVideo())
      }

      toVideo() {

        window.history.pushState({}, null, '#/video/' + this.id);
        window.dispatchEvent(new CustomEvent('location-changed'));
      }

      getIdFromRoute(route) {
        const path = route.path;
        if(path) {
          const parts = path.split('/');
          return parts[parts.length -1];
        }
      }

      getThumbnailPath(video) {
        return `${THUMBNAIL}${video.filethumbnail}`;
      }

      getVideoSrc(video) {
        return `${VIDEO}${video.filevideo}`;
      }

      refreshVideo(newValue, oldValue) {
          this.videoSrcElement = this.getVideoSrc(newValue)
      }

    }
    
    window.customElements.define(VideoEdit.is, VideoEdit);

  </script>
</dom-module>
