{% extends "main.html" %}
{% block content %}

<link rel="stylesheet" href="public/css/main.css">
<title>{{'pagesIndex.dashBoard'|localize}}</title>

<div class="items">
<div class="item">
    <h1>{{'pagesIndex.new'|localize}}</h1>
    <div class="videoList">
    <div class="videoItem">
        <img src="public/images/img2.png">
        <h1> Operativsystemer </h1>
        <h2> Systemkall og interupts </h2>
    </div>

    <div class="videoItem">
        <img src="public/images/img2.png">
        <h1> Operativsystemer </h1>
        <h2> Prosseshåndtering og threads </h2>
    </div>

    <div class="videoItem">
        <img src="public/images/img2.png">
        <h1> WWW-Teknologi </h1>
        <h2> Introduksjon til Javascript rammeverk </h2>
    </div>

    <div class="videoItem">
        <img src="public/images/img2.png">
        <h1> Mobile Wearable </h1>
        <h2> Setting up Android Studio SDK </h2>
    </div>

    <div class="videoItem">
        <img src="public/images/img2.png">
        <h1> Mobile Wearable </h1>
        <h2> Simple Hello World app in Java </h2>
    </div>
    </div>
</div>


<div class="item">
    <h1>{{'pagesIndex.new'|localize}}</h1>
    <div class="videoList">
    <div class="videoItem">
        <img src="public/images/img2.png">
        <h1> Operativsystemer </h1>
        <h2> Systemkall og interupts </h2>
    </div>

    <div class="videoItem">
        <img src="public/images/img2.png">
        <h1> Operativsystemer </h1>
        <h2> Prosseshåndtering og threads </h2>
    </div>

    <div class="videoItem">
        <img src="public/images/img2.png">
        <h1> WWW-Teknologi </h1>
        <h2> Introduksjon til Javascript rammeverk </h2>
    </div>

    <div class="videoItem">
        <img src="public/images/img2.png">
        <h1> Mobile Wearable </h1>
        <h2> Setting up Android Studio SDK </h2>
    </div>

    <div class="videoItem">
        <img src="public/images/img2.png">
        <h1> Mobile Wearable </h1>
        <h2> Simple Hello World app in Java </h2>
    </div>
    </div>
</div>


</div>

{% endblock %}
