<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">

  <title>Login</title>
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
  <link href="public/css/login.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="loginArea">
      <div class="titleContainer">
        <div>
          <p class="loginTitleText">{{'login.title'|localize}}</p>
        </div>
      </div>


      <form class="loginForm" method="post">
        <div class="loginFormFields">
          <div class="loginField">
            <div class="loginFieldIcon">
              <i class="fas fa-envelope"></i>
            </div>


            <div class="loginInputFieldContainer">
              <input class="loginInputField" name="email" pattern="[a-z0-9]+@stud.ntnu.no" title="<username>@stud.ntnu.no" type="text" placeholder="email" value="{{email}}">
            </div>
          </div>


          <div class="loginField">
            <div class="loginFieldIcon">
              <i class="fas fa-lock"></i>
            </div>


            <div class="loginInputFieldContainer">
              <input class="loginInputField" name="password" type="password" placeholder="password">
            </div>
          </div>
          <span class="forgotPasswordLink"><a href="{{'forgotpassword'|link}}">{{'login.forgotpassword'|localize}}</a></span>
        </div>


        <div class="loginButtonContainer">
          <div>
            <button class="submitButton" type="submit">
            <p>{{'login.button'|localize}}</p></button>
          </div>
        </div>
        <div>
          {% if message %}
            <h2>{{message}}</h2>
          {% endif %}
        </div>
      </form>


      <div class="signUpLink">
        <p>{{'login.signuptext'|localize}} <a href="{{'register'|link}}">{{'login.signup'|localize}}</a></p>
      </div>
    </div>


    <div class="mediaArea">
      <div class="textHolder">
        <p class="mediaSchoolNameText">{{'login.schoolName'|localize}}</p>


        <p class="mediaMainText"><i class="fas fa-angle-double-left"></i>Rewind</p>
      </div>
    </div>
  </div>
</body>
</html>
