<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../../../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../../bower_components/slate-font-awesome/slate-font-awesome.html">


<link rel="import" href="../../../../actions/user.html">
<link rel="import" href="../../../../actions/site.html">
<link rel="import" href="../../../../store/store.html">

<link rel="import" href="../../video-grid/video-grid.html">
<link rel="import" href="../../search-page/search-page.html">
<link rel="import" href="../video-page/video-page.html">

<link rel="import" href="../../../styles.html">


<dom-module id="main-template">
  <template>
      <style include="shared-styles">
      :host {
        display: block;
      }
      paper-progress {
        --paper-progress-active-color: #e91e63;
        --paper-progress-height: 3px;
        --paper-progress-container-color: transparent;
        --paper-progress-transition-duration: 1s;
        --paper-progress-transition-timing-function: ease;
        --paper-progress-transition-delay: 0s;
        z-index: 10;
        position: fixed;
        width: 100%;
      }
      .content-container {
        position: relative;
        overflow: hidden;
        overflow-y: auto;
      }
    </style>
    <style include="slate-font-awesome"></style>
    <custom-style><style is="custom-style">
        #toast {
          --paper-toast-background-color: #ff7675;
          --paper-toast-color: white;
        }
      </style></custom-style>
      

      <div id="container" class$=[[toggled]]>
          <header>
            <div class="logo">
              {{searchInput}}
            </div>


            <div class="navbar-menu-wrapper">
              <button class="toggle-menu" on-click="toggleMenu">
                <i class="fa fa-bars"></i>
              </button>

              <div class="searchbar">
                <form action="#/search" method="get" onSubmit="{{doSearch}}">
                  <input type="text" placeholder="Search for something!" value="{{searchInput::input}}">
                  
                  <div class="icon-wrapper">
                    <i class="fa fa-search"></i>
                  </div>
                </form>
              </div>

              <ul class="nav-right">
                <li class="nav-item">
                  <a href="#">
                    <i class="fa fa-bell"></i>
                    
                  </a>
                </li>
                <li class="nav-item">
                    <template is="dom-if" if="[[username]]">
                        <a href="" class="usercard" on-click="logout">
                          [[userletter]]
                        </a>
                    </template>
                    <template is="dom-if" if="[[!username]]">
                        <a href="#/login" class="">
                          sign in
                        </a>
                    </template>
                    
                  </li>
              </ul>
            </div>
          </header>

          <div id="body-container">
            <div class="sidebar">
              <nav>
                <ul>
                  <li class="heading"><h4>Main</h4></li>
                  <li><a href="#/"><i class="fa fa-home"></i><span>Home</span></a></li>
                  <li><a href="#/user"><i class="fa fa-th-large"></i><span>My profile</span></a></li>
                  <li><a href="#/subscriptions"><i class="fa fa-sliders"></i><span>Subscriptions</span></a></li>

                  <li class="heading"><h4>Library</h4></li>
                  <li><a href="#/history"><i class="fa fa-clock-o"></i><span>History</span></a></li>
                  <li><a href="#/watchlater"><i class="fa fa-file-o"></i><span>Watch Later</span></a></li>
                  <li><a href="#/liked"><i class="fa fa-heart-o"></i><span>Liked videos</span></a></li>
                  
                  <li class="heading"><h4>Subscriptions</h4></li>
                  <template is="dom-repeat" items="{{subscriptions}}">
                    <li><a href="#/playlist/{{item.playlist.id}}"><span>{{item.playlist.title}}</span></a></li>
                  </template>
                  
                </ul>

                <ul class="bottom">

                </ul>
              </nav>
            </div>

            <div class="content-container">
                <paper-progress value="{{progress.value}}" secondary-progress="0" ></paper-progress>

              <div class="container-fluid">
                  <!-- Route are -->
                  <!-- app-location binds to the app's URL -->
                  <app-location route="{{route}}" use-hash-as-path></app-location>

                  <!-- this app-route manages the top-level routes -->
                  <app-route
                      route="{{route}}"
                      pattern="/:view"
                      data="{{routeData}}"
                      tail="{{subroute}}"
                    ></app-route>

                    <paper-toast id="toast" class="fit-right" text="[[error.message]]" duration="5000"></paper-toast>
                    
                    <iron-pages selected="[[routeData.view]]" attr-for-selected="name" fallback-selection="main">
                        <search-page name="search" route="{{subroute}}"></search-page>
                        <video-grid name="main" route="{{subroute}}"></video-grid>
                        <video-page name="video" route="{{subroute}}"></video-page>
                    </iron-pages>

              </div>
            </div>
          </div>
      </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MainTemplate extends SiteActions(UserActions(ReduxStore(Polymer.Element))) {

      static get is() { return 'main-template'; }
      toggleMenu() {
        if(this.toggled == "") {
          this.toggled = "expanded-menu";
        }else {
          this.toggled = "";
        }
        // document.body.classList.add('expanded-menu')
      }

      doSearch(e) {
        if(e)
          e.preventDefault();
        this.dispatch(this.performSearch());
      }

      _showToast(value) {
        if(value.error != null)
          this.$.toast.open();
      }

      ready() {
        super.ready();
        this.dispatch(this.getSessionData());
        this.dispatch(this.getUser());
        this.dispatch(this.getUserInfo());
        this.doSearch = this.doSearch.bind(this);

        const route = this.route.path;
        const parts = route.split('/');
        if(parts[0] == 'search' || parts[1] == 'search') {
          const answer = parts[parts.length - 1];
          this.searchInput = answer;
          this.doSearch();
        }

        this.updateProgress();
        
      }

      updateProgress() {
        const {value} = this.progress;
        if(value+5 > 100) {
          this.dispatch(this.setProgress(100));
          return;
        }
        this.dispatch(this.setProgress(value+5));
        window.setTimeout(() => this.updateProgress(), 1000);
      }

      logout() {
        this.dispatch(this.logoutUser());
      }

      getUserFirstLetter(username) {
        return username !== '' ? username[0] : 'U';
      }
      static get properties() {
        return {
          username: {
            type: String,
            statePath: 'user.name',
          },
          token: {
            type: String,
            statePath: 'user.token',
          },
          subscriptions: {
            type: String,
            statePath: 'user.subscriptions',
          },
          toggled: {
            type: String,
            value: '',
          },
          userletter: {
            type: String,
            computed: 'getUserFirstLetter(username)',
          },
          searchInput: {
            type: String,
            value: '',
          },
          route: {
            type: String,
          },
          error: {
            type: Object,
            observer: '_showToast',
            statePath: 'errors',
          },
          progress: {
            type: Object,
            statePath: 'progress',
          },
        };
      }
    }
    
    window.customElements.define(MainTemplate.is, MainTemplate);
  </script>
</dom-module>
