{% extends "main.html" %}
{% block content %}

<link rel="stylesheet" href="public/css/settings/main.css">
<link rel="stylesheet" href="public/css/settings/avatar.css">

<div class="container">


<!-- MENU -->
  <div class="menu">
    <a href="{{['admin/edituser&userid=',selected.id]|join|link}}">
      <div class="menuItem">
        <div class="activeMenuItem">
          <i class="fas fa-camera"></i>
          <p>{{'admin.user.name.avatar'|localize}}</p>
        </div>
      </div>
    </a>

    <a href="{{['admin/edituserinfo&userid=',selected.id]|join|link}}">
      <div class="menuItem">
        <i class="fas fa-address-card"></i>
        <p>{{'admin.user.name.name'|localize}}</p>
      </div>
    </a>
  </div>




  <div class="content">

    <form method="POST" enctype="multipart/form-data">
    <div>
      <img class="avatarPicture" src="{{selected.avatar|mediaImage}}"/>
      <input type="hidden" value={{selected.id}} name="selecteduser" />
      <div class="inputCon">
        <input class="inputfile" type="file" name="avatar" id="file" />
        <label for="file">
          <i class="fas fa-upload"></i>
          <span>Choose a picture…</span>
        </label>
      </div>
    </div>

  </div>

  <div class="saveContainer">
    <button type="submit">
      <div>
        <i class="fas fa-save"></i>
      </div>
      <div>
        <h1>{{'admin.user.name.save'|localize}}</h1>
      </div>
    </button>
    </div>

  </form>

</div>


<script src="public/js/nav.js"></script>
<script src="public/js/avatarUpload.js"></script>

{% endblock %}
