<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../../../bower_components/slate-font-awesome/slate-font-awesome.html">

<link rel="import" href="../../../../store/store.html">
<link rel="import" href="../../../../actions/user.html">
<link rel="import" href="../../../styles.html">


<dom-module id="playlists-card">
  <template>
      <style include="shared-styles">
      :host {
        display: block;
      }

      #dialog {
          width: 300px;
          height: 400px;
      }
    </style>
    <style include="slate-font-awesome"></style>

    <paper-dialog id="dialog">
        <div class="flat-card is-auto menu-card">
            <div class="card-title">
                <h3>Create Playlist</h3>
            </div>
        </div>

        <paper-input label="Playlist Name" value="{{title}}">
        </paper-input>
        <paper-input label="Description" value="{{description}}">
        </paper-input>
        
        <div class="buttons">
            <paper-button dialog-dismiss>Cancel</paper-button>
            <paper-button dialog-confirm autofocus on-click="callCreatePlaylist">Accept</paper-button>
        </div>
    </paper-dialog>
    
    <div class="flat-card is-auto menu-card">
        <div class="card-title">
            <h3>Playlists</h3>

            <div class="confirm-button">
                <a class="header-button" on-click="openModal">Add</a>
            </div>
        </div>
        <ul class="wishlists">
            <template is="dom-repeat" items="{{playlists}}">
                <li>
                    <a on-click="setActivePlaylist(index)">{{item.title}}</a>
                </li>
            </template>
        </ul>
    </div>
    

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PlaylistsCard extends UserActions(ReduxStore(Polymer.Element)) {

      static get is() { return 'playlists-card'; }
      
        
        openModal() {
            this.title = '';
            this.description = '';
            this.$.dialog.open()
        }

        callCreatePlaylist() {
            this.dispatch(this.createPlaylist());
        }

        setActivePlaylist(index) {
            console.log("Set active playlist", index);
            //this.dispatch(this.setActivePlaylist())
        }


      static get properties() {
        return {
            title: {
            type: String,
            value: ''
          },
          description: {
            type: String,
            value: ''
          },
          playlists: {
              type: Object,
              statePath: 'user.playlists',
          }, 
        };
      }
    }
    
    window.customElements.define(PlaylistsCard.is, PlaylistsCard);
  </script>
</dom-module>
