<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../../../../bower_components/paper-tab/paper-tab.html">
<link rel="import" href="../../../../../bower_components/slate-font-awesome/slate-font-awesome.html">

<link rel="import" href="../../../../store/store.html">
<link rel="import" href="../../../../actions/user.html">
<link rel="import" href="../../../styles.html">

<link rel="import" href="./profile-card.html">
<link rel="import" href="./video-card.html">
<link rel="import" href="./playlists-card.html">
<link rel="import" href="./edit-profile.html">
<link rel="import" href="./admin-tab.html">



<dom-module id="profile-page">
  <template>
      <style include="shared-styles">
      :host {
        display: block;
      }
      --paper-tabs-container {
          margin-top: 40px;
          margin: 100px;
      }

      paper-tabs {
          margin-top: 20px;
          --paper-tabs-selection-bar-color:	blue;
      }
      paper-tab {
        --paper-tab-ink: #333;

      }

    </style>
    <style include="slate-font-awesome"></style>
    <div class="profile-container">
    <paper-tabs selected="{{selected}}" scrollable>
        <paper-tab>Profile</paper-tab>
        <paper-tab>Playlists</paper-tab>
        <paper-tab>Upload video</paper-tab>
        <paper-tab>Edit profile</paper-tab>
        
        <template is="dom-if" if="{{ _isAdmin(usergroup) }}">
          <paper-tab>Admin</paper-tab>
        </template>

    </paper-tabs>

        <iron-pages selected="{{selected}}">

            <div class="profile-container">
                <div class="tabs"></div>
                <div class="columns multiline">
                    <div class="column is-4">
                        <profile-card></profile-card>
                    </div>
    
                    <div class="column is-8">
                        <video-card></video-card>
                    </div>
                </div>
            </div>

            <div class="profile-container">
                <div class="tabs"></div>
                <div class="columns multiline">
                    <div class="column is-4">
                        <playlists-card></playlists-card>
                    </div>
    
                    <div class="column is-8">
                        <video-card></video-card>
                    </div>
                </div>
            </div>

            <div class="profile-container">
                <div class="tabs"></div>
                <div class="columns multiline">
                    <div class="column is-4">
                        <profile-card></profile-card>
                    </div>
    
                    <div class="column is-8">
                        <video-card></video-card>
                    </div>
                </div>
            </div>

            <div class="profile-container">
                <div class="tabs"></div>
                <div class="columns multiline">
                    <div class="column is-4">
                        <profile-card></profile-card>
                    </div>
    
                    <div class="column is-8">
                        <edit-profile></edit-profile>
                    </div>
                </div>
            </div>



          <template is="dom-if" if="{{ _isAdmin(usergroup) }}">

            <div class="profile-container">
                <div class="tabs"></div>
                <div class="columns multiline">
                    <div class="column is-4">
                        <profile-card></profile-card>
                    </div>
    
                    <div class="column is-8">
                        <admin-tab></admin-tab>
                    </div>
                </div>
            </div>

          </template>

    </iron-pages>
    
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */


    class ProfilePage extends UserActions(ReduxStore(Polymer.Element)) {

      static get is() { return 'profile-page'; }
      
      static get properties() {
        return {
          selected: {
              type: Number,
              value: 0,
          },
          usergroup: {
            type: Number,
            statePath: 'user.usergroup'
          },
          
        };
      }

      _isAdmin(usergroup) {

        console.log(usergroup)
        if (usergroup === ADMIN) {
          console.log("Is ADMIN")
          return true
        }
        console.log(usergroup, "Is STUDENT, or TEACHER")
        return false
      }

    }
    
    window.customElements.define(ProfilePage.is, ProfilePage);
  </script>
</dom-module>
